/* .generate-otp__grid {
    text-align: center;
    width: 100vw;
} */

.dsclmr-wrap {
  /* position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);   */
  position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 20%);
    -webkit-transform: translate(-50%, 20%);
    -moz-transform: translate(-50%, 20%);
    -ms-transform: translate(-50%, 20%);
    max-width: 70%;
}

.generate-otp__grid {
  width: 90%;
  height: auto;
  margin: 0 auto 20px;
}

.paper {
  text-align: center;
  padding-bottom: 1rem;
}

.otp_div {
  display: flex;
  justify-content: space-around;
}

.otp_div input {
  border: none;
  border-bottom: 1px solid grey;
}

.buttons_div__otp {
margin-top: 24px;
}

.buttons_div__otp button {
margin: 0 10px;
}


.call_button {
display: none !important;
}

.submit_button--generate_otp {

  margin: 16px auto !important;
}

.otpTime {
font-weight: 700;
color: #00236e;
}

/* .tnc-txt input[type="checkbox"] {
  position:  relative;
  top: 3px;
  float: none;
  margin:  0 13px 5px 0;
}
*/

.tnc-txt p {
  text-align: justify;
  font-size: 13px;
  max-width: 95%;
  line-height: 20px;
}

.tnc-txt form {
  text-align: center;
  margin: 0 0 20px;
}

.btn-time {
  padding: 20px 0 0;
}

.btn-time > span {
  display: block;
  padding: 10px 20px 0;
  min-width: 25%;
  text-align: center;
}

.buttons_div__otp .btn-time {
  display: inline-block;
  min-height: 75px;
  vertical-align: top;
}

.tnc-txt fieldset input[type="checkbox"] {
  margin: 0 10px 0 5px;
  top: 8px;
}

.generate-otp__grid > div {
  text-align: center;
}

@media(max-width: 992px){
  .tnc-txt form fieldset p.check-sec {
    max-width: 90%;
  }
}

@media(max-width: 640px){

  .generate-otp__grid {
      width: 90%;
  }

  p.default_text {
      font-size: 14px;
      line-height: 20px;
      margin: 0;
      padding: 0 20px;
  }
  
  .MuiButton-label {
      font-size: 11px;
  }

  .dsclmr-wrap {
    max-width: 90%;
  } 

}

@media(max-width: 479px){
  .generate-otp__grid {
    max-width: 100%;
  }

  .dsclmr-wrap {
    transform: translate(-50%, 20%);
    -webkit-transform: translate(-50%, 20%);
    -moz-transform: translate(-50%, 20%);
    -ms-transform: translate(-50%, 20%);
  }

  .buttons_div__otp button {
    font-size: 11px !important;
    padding: 7px 10px;
    margin: 0;
  }
  .buttons_div__otp .btn-time {
    margin: 0 0 0 10px;
  }

  .buttons_div__otp .btn-time:first-child {
    margin: 0;
  }

  .tnc-txt form fieldset p.check-sec {
    max-width: 85%;
  }


}