.generate-otp__grid {
    padding-top: 16px;
}

.paper {
    text-align: center;
    padding-bottom: 16px;
}

.otp_div {
    display: flex;
    justify-content: space-around;
}

.otp_div input {
    border: none;
    border-bottom: 1px solid grey;
}

.buttons_div__otp {
  margin-top: 16px;
  margin-left: 30%;
  width: 40%;
  display: flex;
  flex: 1;
  justify-content: space-evenly;
  align-items: center;
}

.call_button {
  display: none !important;
}

.otpTime {
  font-weight: 700;
  color: #00236e;
}