/* .generate-otp__grid {
    text-align: center;
    width: 100vw;
} */

.generate-otp__grid {
  width: 400px;
  height: 300px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.paper {
    text-align: center;
    padding-bottom: 16px;
}

.otp_div {
    display: flex;
    justify-content: space-around;
}

.otp_div input {
    border: none;
    border-bottom: 1px solid grey;
}

.buttons_div__otp {
  margin-top: 16px;
}

.buttons_div__otp button {
  margin: 0 10px;
}


.call_button {
  display: none !important;
}

.otpTime {
  font-weight: 700;
  color: #00236e;
}

@media(max-width: 640px){
    .generate-otp__grid {
        width: 90%;
    }

    p.default_text {
        font-size: 14px;
        line-height: 20px;
        margin: 0;
        padding: 0 20px;
    }
    
    .MuiButton-label {
        font-size: 11px;
    }


}