/* .selfie_page {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
} */

.selfie_page {
    margin: 0 auto;
    padding: 0;
    /* align-items: center; */
    /* position: absolute; */
    /* left: 50%; */
    display: flex;
    min-height: 100vh;
    max-width: 600px;
    /* top: 50%; */
    /* transform: translate(-50%, -50%); */
    justify-content: center;
    text-align: center;
    flex-direction: column;
}


.booth {
   margin-top: 20px;
   border: 8px solid lightgray;
   height: 240px;
   width: 320px;
   overflow: hidden;
}

.booth img {
    max-width: 320px !important;
    max-height: 240px !important;
}


/* .booth {
    max-width: 320px;
    margin: 0 auto;
} */

button#selfie_button {
    display: block !important;
    text-align: center;
    margin: 20px auto;
}

canvas {
    position: absolute;
}

.selfie_page canvas {
    top: 44%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*-- New Code --*/

.booth {
    max-width: 320px;
    margin: 0 auto;
    position: relative;
    top: -20px;
    max-height: 241px;
}

.selfie_page .canvas {
    min-height: 243px;
    min-width: 320px;
    margin: 0;
}

.selfie_page .canvas canvas {
    top: 50%;
    position: absolute !important;
}


@media(max-width: 767px) {
    video#video {
        max-width: 320px;
        width: 100%;
        height: auto;
    }

   

}

@media(max-width: 479px) {
    .selfie_page p {
        font-size: 13px;
        line-height: 18px;
        padding: 0 10px;
    }

    .selfie_page > canvas {
        top: 33%;
        max-width: 90%;
        width: auto !important;
    }

} 

