.appbar {
    position: fixed;
    top: 0;
    /* margin-bottom: 70px; */
}

.header {
    background-color: #fefefe;
    position: fixed;
    top: 0;
    left: 0;
}

.MuiLinearProgress-root {
    height: 5px !important;
    background-color: transparent !important;
}

/* .MuiLinearProgress-bar .MuiLinearProgress-barColorPrimary .MuiLinearProgress-bar1Indeterminate {
    color: red !important;
} */