.verify_user {
    padding-top:  70px;
    display: block;
    text-align: center !important;
}

.cstm-wrap {
    position: absolute;
    top: 25%;
    left: 0;right: 0;
    padding: 0 20px;
    margin: 0 auto;
}

.loading_text {
    font-size: 1rem;
    font-weight: 700;
    color: var(--main-color);
    margin-top: 0.5rem;
}