body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}


:root {
    --main-color: #00236e; 
}

.default_text {
    color: var(--main-color) !important;
}

.default_button {
    background-color: var(--main-color) !important;
    color: white !important; 
}

.MuiSnackbarContent-root {
    background-color: white !important;
    color: var(--main-color) !important;
}

button:disabled {
    opacity: 0.5;
}